<div class="content" role="main" style=background-color:rgb(251,245,255)>
  <!-- <demo-map >Demo-Map1 here</demo-map> -->
  <stage-comp [width]=1780 [height]=1000> StageComponent here</stage-comp>
  <div style="position: absolute; top: 5px; left: 50px; z-index: 9999">
    <a href="https://github.com/jackpunt/ankh/blob/main/README.md" target="_blank" rel="noopener">{{ linkName }}</a>
    <br/>
    <span>{{ timestamp }}</span>
    <br/>
    <button type="submit" id="fsOpenFileButton" onclick="showOpenFilePicker()">SaveLog</button>
    <br/>
    <br/>
    <span>
    <button type="submit" id="fsReadFileButton" onclick="showOpenFilePicker()">ReadFile</button>
    &nbsp;
    <input type="text" id="readFileName" name="filename" title="log_date_time@turn" size="28" />
    </span>
    <br/>
    <span>
    <button type="submit" id="parseStateButton" onclick="parseState()">SetState</button>
    &nbsp;
    <input type="text" id="parseStateText" name="parseState" title="paste {ngods: , turn: , ...}" size="28" />
    </span>
    <br/>
    Game: <span id="group_name">----</span>
  </div>
  <div>

  </div>
 </div>
